.venv/
__pycache__/
*.log
*.pyc
# IDE
.idea/
.vscode/
/tests/debug profile path/
/trying_some_code.py

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc
*.log

# Virtual environments
.venv/
env/
venv/
/.venv/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
